.main {
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  gap: 20px;
}

.top-bar .logo img {
  width: 40px;
  height: auto;
}

.top-bar .title h1 {
  margin: 0;
  font-size: 24px;
  letter-spacing: 1px;
}

.drawer-container {
  display: none;
}
.jobList {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  padding: 20px;
}

app-job-list {
  flex: 0 0 100%;
  margin-right: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .top-bar .title {
    display: none;
  }
  app-job-list {
    flex: 0 0 100%;
  }
}
