<main class="main">
  <div>
    <div class="top-bar">
      <div class="logo">
        <img ngSrc="./assets/logo.png" alt="Logo" height="150" width="150">
      </div>
      <div class="title">
        <h1>cronJob Monitor</h1>
      </div>
      <div class="menu-icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </div>
    </div>

    <mat-drawer-container class="drawer-container">
      <mat-drawer #drawer mode="side" position="end">
        <p>Option 1</p>
        <p>Option 2</p>
        <p>Option 3</p>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <div class="jobList">
    <app-job-list></app-job-list>
  </div>
</main>

<router-outlet></router-outlet>
